h1{
    margin: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    margin: 20px;
    height: 45px;
    width: 75px;
    border-radius: 10px;
}
input{
    height: 40px;
    width: fit-content;
    border-radius: 7px;
}

.icon{
    font-size: 29px;
    cursor: pointer;
}
.todo{
    display: flex;
    font-size: 41px;
    padding: 15px;
}
.text{
    margin-right: 100px;
}
.App{
    margin: 80px;
}